@page "/machine-dashboard"
@using System.Globalization
@using IndTrace.DataStore.Services.OEE
@using IndTrace.DataStore.Services.OEE.Services
@using IndTrace.Components.Area.OEE
@using MudBlazor

<h3>OEE Dashboard </h3>





    <MudGrid Spacing="2">
        @foreach (var machine in Machines)
        {
            <MudItem xs="12" sm="6" md="4" lg="3">
                <div class="dashboard-grid">
                    <OeeWidget MachineData="machine" Theme="@SelectedTheme"/>
                </div>
            </MudItem>
        }
    </MudGrid>
