<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Keep local cache first -->
    <!--<add key="offline" value="..\artifacts\nuget\offline" />-->
    <!-- Fallback to nuget.org -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <config>
    <signatureValidationMode>accept</signatureValidationMode>
  </config>
</configuration>
