
@page "/analyzer"

@inject EventsService EventsService

@using IndTrace.Application.Notifications
@using IndTrace.Components.Area.Player

<h3>Analyzer</h3>

<Controls EventsService="EventsService" />
