<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="offline" value="..\artifacts\nuget\offline" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="offline">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
  <config>
    <signatureValidationMode>accept</signatureValidationMode>
  </config>
</configuration>


